
/* CARDS DE TEXTO */
.d-flex{
    .card{
        .card-body{
            background-color: #fff1cf;
        }
        .card-title{
            color: #ed6b6a;
        }

        .card-title:hover{
            color: fuchsia;
        }
    }
}