
/* CARDS DE TEXTO */
.d-flex{
    .card{
        .card-body{
            background-color: #BCDFF6;
        }
        .card-title{
            color: #A356D6;
        }

        .card-title:hover{
            color: #FFCADC;
        }
    }
}
