/* estilo del titulo principal en contacto.html */
.contacto-titulo{
    background-color: #fff1cf;
    color: #53bbaf;
    text-align: center;
    font-size: 150%; 
    }
    
    /* estilo de los datos en contacto.html */
    .contacto-info{
    font-size: 100%;
    color: #ed6b6a;
    text-align: center;
    }
    
    /* estilo de las imagenes en contacto.html */
    .imagenes-info{
    text-align: center;
    width: 100%;
    }
    