.producto-categorias{
  color: coral;
}

/* estilo dl titulo principal en productos.html */
.mas-buscados{
  background-color: #fff1cf;
  color: #53bbaf;
  text-align: center;
  font-size: 150%; 
  }
  
  /* estilo de los titulos secundarios en productos.html */
.producto-categorias{
  font-size: 100%;
  color: #ed6b6a;
  text-align: center;
  }